In [2]:
import pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pylab as plt

In [21]:
from keras.models import load_model

In [107]:
def create_dataset(data):
    
    highp = pd.to_numeric(data.loc[:, 'highES'])
    high01 = pd.to_numeric(data.loc[:, 'highEUR'])
    high02 = pd.to_numeric(data.loc[:, 'highJPY'])
    high03 = pd.to_numeric(data.loc[:, 'highVIXF'])
    high04 = pd.to_numeric(data.loc[:, 'highVIXN'])
    high05 = pd.to_numeric(data.loc[:, 'highGC'])
    high06 = pd.to_numeric(data.loc[:, 'highZB'])
    high07 = pd.to_numeric(data.loc[:, 'highZN'])
    high08 = pd.to_numeric(data.loc[:, 'highZT'])
    high09 = pd.to_numeric(data.loc[:, 'highNQ'])
    high10 = pd.to_numeric(data.loc[:, 'highYM'])
    lowp = pd.to_numeric(data.loc[:, 'lowES'])
    low01 = pd.to_numeric(data.loc[:, 'lowEUR'])
    low02 = pd.to_numeric(data.loc[:, 'lowJPY'])
    low03 = pd.to_numeric(data.loc[:, 'lowVIXF'])
    low04 = pd.to_numeric(data.loc[:, 'lowVIXN'])
    low05 = pd.to_numeric(data.loc[:, 'lowGC'])
    low06 = pd.to_numeric(data.loc[:, 'lowZB'])
    low07 = pd.to_numeric(data.loc[:, 'lowZN'])
    low08 = pd.to_numeric(data.loc[:, 'lowZT'])
    low09 = pd.to_numeric(data.loc[:, 'lowNQ'])
    low10 = pd.to_numeric(data.loc[:, 'lowYM'])
    openp = pd.to_numeric(data.loc[:, 'openES'])
    open01 = pd.to_numeric(data.loc[:, 'openEUR'])
    open02 = pd.to_numeric(data.loc[:, 'openJPY'])
    open03 = pd.to_numeric(data.loc[:, 'openVIXF'])
    open04 = pd.to_numeric(data.loc[:, 'openVIXN'])
    open05 = pd.to_numeric(data.loc[:, 'openGC'])
    open06 = pd.to_numeric(data.loc[:, 'openZB'])
    open07 = pd.to_numeric(data.loc[:, 'openZN'])
    open08 = pd.to_numeric(data.loc[:, 'openZT'])
    open09 = pd.to_numeric(data.loc[:, 'openNQ'])
    open10 = pd.to_numeric(data.loc[:, 'openYM'])
    closep = pd.to_numeric(data.loc[:, 'closeES'])
    close01 = pd.to_numeric(data.loc[:, 'closeEUR'])
    close02 = pd.to_numeric(data.loc[:, 'closeJPY'])
    close03 = pd.to_numeric(data.loc[:, 'closeVIXF'])
    close04 = pd.to_numeric(data.loc[:, 'closeVIXN'])
    close05 = pd.to_numeric(data.loc[:, 'closeGC'])
    close06 = pd.to_numeric(data.loc[:, 'closeZB'])
    close07 = pd.to_numeric(data.loc[:, 'closeZN'])
    close08 = pd.to_numeric(data.loc[:, 'closeZT'])
    close09 = pd.to_numeric(data.loc[:, 'closeNQ'])
    close10 = pd.to_numeric(data.loc[:, 'closeYM'])
    volumep = pd.to_numeric(data.loc[:, 'volumeES'])

    normal_close = closep.values.tolist()
    normal_open = openp.values.tolist()

    highp = highp.pct_change().values.tolist()
    high01 = high01.pct_change().values.tolist()
    high02 = high02.pct_change().values.tolist()
    high03 = high03.pct_change().values.tolist()
    high04 = high04.pct_change().values.tolist()
    high05 = high05.pct_change().values.tolist()
    high06 = high06.pct_change().values.tolist()
    high07 = high07.pct_change().values.tolist()
    high08 = high08.pct_change().values.tolist()
    high09 = high09.pct_change().values.tolist()
    high10 = high10.pct_change().values.tolist()
    lowp = lowp.pct_change().values.tolist()
    low01 = low01.pct_change().values.tolist()
    low02 = low02.pct_change().values.tolist()
    low03 = low03.pct_change().values.tolist()
    low04 = low04.pct_change().values.tolist()
    low05 = low05.pct_change().values.tolist()
    low06 = low06.pct_change().values.tolist()
    low07 = low07.pct_change().values.tolist()
    low08 = low08.pct_change().values.tolist()
    low09 = low09.pct_change().values.tolist()
    low10 = low10.pct_change().values.tolist()
    openp = openp.pct_change().values.tolist()
    open01 = open01.pct_change().values.tolist()
    open02 = open02.pct_change().values.tolist()
    open03 = open03.pct_change().values.tolist()
    open04 = open04.pct_change().values.tolist()
    open05 = open05.pct_change().values.tolist()
    open06 = open06.pct_change().values.tolist()
    open07 = open07.pct_change().values.tolist()
    open08 = open08.pct_change().values.tolist()
    open09 = open09.pct_change().values.tolist()
    open10 = open10.pct_change().values.tolist()
    closep = closep.pct_change().values.tolist()
    close01 = close01.pct_change().values.tolist()
    close02 = close02.pct_change().values.tolist()
    close03 = close03.pct_change().values.tolist()
    close04 = close04.pct_change().values.tolist()
    close05 = close05.pct_change().values.tolist()
    close06 = close06.pct_change().values.tolist()
    close07 = close07.pct_change().values.tolist()
    close08 = close08.pct_change().values.tolist()
    close09 = close09.pct_change().values.tolist()
    close10 = close10.pct_change().values.tolist()
    volumep = volumep.pct_change().values.tolist()

    X, Y = [], []
    
    for i in range(0, len(data), STEP): 
        try:
            o = openp[i:i+LOOKBACK]
            o01 = open01[i:i+LOOKBACK]
            o02 = open02[i:i+LOOKBACK]
            o03 = open03[i:i+LOOKBACK]
            o04 = open04[i:i+LOOKBACK]
            o05 = open05[i:i+LOOKBACK]
            o06 = open06[i:i+LOOKBACK]
            o07 = open07[i:i+LOOKBACK]
            o08 = open08[i:i+LOOKBACK]
            o09 = open09[i:i+LOOKBACK]
            o10 = open10[i:i+LOOKBACK]
            h = highp[i:i+LOOKBACK]
            h01 = high01[i:i+LOOKBACK]
            h02 = high02[i:i+LOOKBACK]
            h03 = high03[i:i+LOOKBACK]
            h04 = high04[i:i+LOOKBACK]
            h05 = high05[i:i+LOOKBACK]
            h06 = high06[i:i+LOOKBACK]
            h07 = high07[i:i+LOOKBACK]
            h08 = high08[i:i+LOOKBACK]
            h09 = high09[i:i+LOOKBACK]
            h10 = high10[i:i+LOOKBACK]
            l = lowp[i:i+LOOKBACK]
            l01 = low01[i:i+LOOKBACK]
            l02 = low02[i:i+LOOKBACK]
            l03 = low03[i:i+LOOKBACK]
            l04 = low04[i:i+LOOKBACK]
            l05 = low05[i:i+LOOKBACK]
            l06 = low06[i:i+LOOKBACK]
            l07 = low07[i:i+LOOKBACK]
            l08 = low08[i:i+LOOKBACK]
            l09 = low09[i:i+LOOKBACK]
            l10 = low10[i:i+LOOKBACK]
            c = closep[i:i+LOOKBACK]
            c01 = close01[i:i+LOOKBACK]
            c02 = close02[i:i+LOOKBACK]
            c03 = close03[i:i+LOOKBACK]
            c04 = close04[i:i+LOOKBACK]
            c05 = close05[i:i+LOOKBACK]
            c06 = close06[i:i+LOOKBACK]
            c07 = close07[i:i+LOOKBACK]
            c08 = close08[i:i+LOOKBACK]
            c09 = close09[i:i+LOOKBACK]
            c10 = close10[i:i+LOOKBACK]
            v = volumep[i:i+LOOKBACK]

            y_i = (normal_close[i+LOOKBACK+FORECAST] - normal_open[i+LOOKBACK]) / normal_open[i+LOOKBACK]
            y_i = 1 if y_i > 0 else 0
            
            x_i = np.column_stack((o, o01, o02, o03, o04, o05, o06, o07, o08, o09, o10,
                                   h, h01, h02, h03, h04, h05, h06, h07, h08, h09, h10,
                                   l, l01, l02, l03, l04, l05, l06, l07, l08, l09, l10,
                                   c, c01, c02, c03, c04, c05, c06, c07, c08, c09, c10,
                                   v))
    
        except Exception as e:
            break

        X.append(x_i)
        Y.append(y_i)

    X, Y = np.array(X), np.array(Y)
    return X, Y

In [108]:
LOOKBACK = 7
STEP = 1
FORECAST = 1

In [160]:
bars = pd.read_csv('dataset/price_11contracts.csv' , header=0, parse_dates=['date'])

In [111]:
X_test, Y_test = create_dataset(bars)

In [183]:
def transform_data(X_test, bars):
    
    
    
    # Load Model and Predict Values
    model = load_model('testtest.hdf5')
    model.load_weights('testtest.hdf5')
    pred = model.predict(X_test)
    prediction = pd.DataFrame(pred)
    prediction.columns = ['prediction']
    
    # Adjust for Lookback, Forecast and Step
    start = np.zeros(9)
    starting = pd.DataFrame(start)
    starting.columns = ['prediction']
    
    # Append DataFrames to ensure completeness of dataset
    full_prediction = starting.append(prediction)
    full_prediction = full_prediction.dropna(axis = 0, how ='all')
    
    # Map the prediction result to signals / binary outcome 
    full_prediction = (full_prediction > 0.5).astype(int)
    
    # Merge the signal with initial dataset
    bars = bars.reset_index()
    full_prediction = full_prediction.reset_index()
    result = pd.merge(bars, full_prediction, how = 'right', on= 'index')
    
    # Output the file
    result.to_csv('result.csv')
    
    return result

In [184]:
outcome = transform_data(X_test, bars)

In [185]:
outcome.head()

,level_0,index,Unnamed: 0,date,openEUR,highEUR,lowEUR,closeEUR,volumeEUR,barCountEUR,...,barCountYM,averageYM,openES,highES,lowES,closeES,volumeES,barCountES,averageES,prediction
0,0,0,0,2018-01-16 22:40:00,1.221025,1.221075,1.219975,1.220625,-1,-1,...,5,26046.4,2808.25,2811.25,2808.0,2809.75,66,45,2809.375,0
1,1,1,1,2018-01-16 22:50:00,1.220625,1.221475,1.220525,1.220875,-1,-1,...,4,26055.7,2810.25,2812.00,2809.5,2810.50,62,32,2810.575,0
2,1,1,1,2018-01-16 22:50:00,1.220625,1.221475,1.220525,1.220875,-1,-1,...,4,26055.7,2810.25,2812.00,2809.5,2810.50,62,32,2810.575,0
3,2,2,2,2018-01-16 23:00:00,1.220875,1.222125,1.220725,1.222075,-1,-1,...,0,26068.0,2810.00,2810.00,2808.0,2808.50,38,19,2808.775,0
4,2,2,2,2018-01-16 23:00:00,1.220875,1.222125,1.220725,1.222075,-1,-1,...,0,26068.0,2810.00,2810.00,2808.0,2808.50,38,19,2808.775,0

In [186]:
outcome.tail()

,level_0,index,Unnamed: 0,date,openEUR,highEUR,lowEUR,closeEUR,volumeEUR,barCountEUR,...,barCountYM,averageYM,openES,highES,lowES,closeES,volumeES,barCountES,averageES,prediction
2665,2657,2657,2657,2018-04-21 02:10:00,1.228675,1.228750,1.228475,1.228675,-1,-1,...,867,24438.0,2674.00,2674.25,2670.50,2671.00,11830,2263,2672.250,0
2666,2658,2658,2658,2018-04-21 02:20:00,1.228675,1.228950,1.228450,1.228725,-1,-1,...,1242,24434.1,2671.25,2673.00,2670.25,2672.25,19642,3158,2671.625,0
2667,2659,2659,2659,2018-04-21 02:30:00,1.228725,1.228825,1.228525,1.228700,-1,-1,...,2509,24419.0,2672.50,2674.00,2667.50,2669.25,38930,5319,2669.875,0
2668,2660,2660,2660,2018-04-21 02:40:00,1.228700,1.228975,1.228650,1.228925,-1,-1,...,1147,24408.3,2669.25,2670.75,2667.00,2668.50,15655,2586,2668.950,0
2669,2661,2661,2661,2018-04-21 02:50:00,1.228925,1.228975,1.228175,1.228275,-1,-1,...,1299,24405.7,2668.50,2670.50,2666.50,2669.50,16049,2832,2668.250,0